.header-holder {
    background-color: #ff9100;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-holder h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    margin: 0;
    position: static;
    display: flex;
    align-items: center;
}

.header-holder img {
    display: block;
    height: 60px;
    width: auto;
}

